
body {
    background-color: linear-gradient();
    background-image: linear-gradient(#e8e9e5,#d3cec2);
    flex-direction: column;
  }

.hero-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    background-color: #424B54;
    }

.title {
    color: #e8e9e5;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    }

.subtitle {
    color: #e8e9e5;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    }

main{
    display: inline-flex;
}

.searchPreferences {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 5%;
    width: 30%;
    border-right-color: green;
}

.label{
    margin-top: 10px;
    font-family: monospace;
    font-size: larger;
}

#minYearLabel, #maxYearLabel, #minBPMLabel, #maxBPMLabel {
    font-weight: lighter;
    font-size: smaller;
}


.multipleSliders {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #efebce;
    /* border:solid #D6CE93; */
    outline:none;
    -webkit-transition: .2s;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #D8A48F;
    }

    ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    text-transform: none;
    color: blueviolet;
    width: 70px;
    }

.select{
    display: flex;
    flex-direction: column;
    /* margin: 1%; */
    width: 100%;
}

.output {
    margin-top: 5px;
}

.dropdown {
    /* margin-left: 1%; */
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: limegreen;
    right: 1.125em;
    z-index: 4;
}

input, .select select, .textarea {
    background-color:white;
    border-color: black;
    border-width: 4px;
    color: blue;
    }

#submitBTN {
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.searchResults {
    margin-left: 5%;
    /* margin-right: 5%; */
}

.resultingCards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Test */

@-webkit-keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .music-card {
    margin: 10px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 540px;

  }
  .music-card > .image img {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    height: 250px;
    width: 250px;
  }
  /* .music-card > .image:after {
    height: 100px;
    content: "";
    top: 200px;
    position: absolute;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgba(221, 65, 127, 0), #DD417F);
  } */
  .music-card > .wave {
    position: absolute;
    height: 570px;
    width: 600px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -70%;
    margin-top: -130%;
    border-radius: 40%;
    background: radial-gradient(#B01DE8, #F34235);
    -webkit-animation: spin 3000ms infinite linear;
            animation: spin 3000ms infinite linear;
  }
  .music-card > .wave:nth-child(2) {
    top: 10px;
    -webkit-animation: spin 4000ms infinite linear;
            animation: spin 4000ms infinite linear;
  }
  .music-card > .wave:nth-child(3) {
    top: 10px;
    -webkit-animation: spin 5000ms infinite linear;
            animation: spin 5000ms infinite linear;
  }
  .music-card > .info {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .music-card > .info > .title {
    font-size: 1.3em;
    font-weight: 400;
    font-family: "Playfair display";
    color: #333;
    margin-bottom: 2px;
  }
  .music-card > .info > .artist {
    font-family: "Source sans pro";
    color: #cfcfcf;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  .songinfo {
      font-size: 1em;
      font-family: Playfair display;
      color: rgb(70, 70, 70);
  }

  #BPM {
    margin-top: 7px;  
  }

  #key {
      margin-bottom: 4px;
  }

  aside {
      background-color:teal;  
      float: right;
      height: 640px;
      width: 20%;
  }

  audio {
      width: 90%;
      height: 10px;
  }








/* 992 */









  @media screen and (max-width: 992px) {

    main{
        display: block;
    }


    .hero-body {
        flex-grow: 1;
        flex-shrink: 0;
        padding: 3rem 1.5rem;
        background-color: #424B54;
        align-content: center;
        }
    
    .title {
        margin-left: auto;
        margin-left: auto;
        }
    
    .Ssubtitle {
        color: #e8e9e5;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25;
        }

        aside {
            display: none;
        }

        .searchPreferences {
            /* display: flex;
            flex-direction: column;
            align-content: flex-start; */
            margin-left: 10%;
            width: 80%;
        }

        .searchResults {
            margin-left: 10%;
            margin-right: 5%;
        }
    
}




/* 768 */






  @media screen and (max-width: 768px) { 

    #submitBTN {
        width: 100%;
        margin-top: 30px;
    }

    .searchResults {
        margin-left: 0px;
        /* margin-right: 5%; */
        width: 100%;
    }
    
    
    .music-card {
        margin: 10px 10px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 500px;
        height: 100px;
    }

      .music-card > .image img {
        position: absolute;
        z-index: 1;
        opacity: 0.3;
        height: 100px;
        width: 100px;
        
      }

      .music-card > .info {
        position: absolute;
        top: 10px;
        left: 105px;
        right: 0;
        text-align: left;
      }
      .music-card > .info > .title {
        font-size: 16px;
        font-weight: 400;
        font-family: "Playfair display";
        color: #333;
        margin-bottom: 2px;
      }
      .music-card > .info > .artist {
        font-family: "Source sans pro";
        color: #cfcfcf;
        font-size: 12px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }

      #extraInfo {
          display: inline-flex;
          justify-content: space-around;
      }

      .songinfo {
          font-size: 14px;
      }
    


      #BPM {
        margin-top: 0px;  
      }
    
      #key {
          margin-bottom: 0px;
      }

  }

  



/* 576 */




  @media screen and (max-width: 576px) {

    .resultingCards {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .music-card {
        margin: 10px 10px;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        height: 200px;
        z-index: 2;
    }

    .music-card > .image img {
        position: absolute;
        z-index: 1;
        opacity: 0.1;
        height: 200px;
        width: 200px;
        
      }

    #extraInfo {
        display: block;
        justify-content: space-around;
    }

    .music-card > .info {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0 ;
        text-align: center;
      }
  }

