:root {
    background-color:white;
}

.searchPreferences {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 5%;
}

.multipleSliders {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #d3d3d3;
    outline:none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1%;
}

.dropdownList {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background-color: #e0e0e0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: lighter;
}

option {
    color: green;
}

#minYearLabel, #maxYearLabel, #maxBPMLabel, #minBPMLabel{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 90%;
}

.searchResults {
    margin-left: 5%;
}

.resultingCards {
    display: flex;
    flex-direction: row;
}

